{% extends 'base.html' %}

{% block content %}
<!-- Links : <a href="not_done_tasks/">not done</a>,
<a href="not_important_tasks/">not important</a>,
<a href="done_tasks/">done</a>,
<a href="important_tasks/">important</a>,
<a href="create_tasks/">create a task</a>, -->
{% if deleted %}
Deleted succesfully
{% endif %}
<div class="container text-center">
    <div class="row">

    {% if message %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Успешное удаление</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{message}} удалено успешно
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <script>
        const myModal = new bootstrap.Modal('#exampleModal', {
        keyboard: false
        })
        myModal.show()
    </script>
    {% endif %}
        
        {% for message in todos %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2">

            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title"><b>{{ message.text }}</b></h5>
                    <p class="card-text"><p>{% if not message.is_done %}Date: {{ message.datetime_notification }}{% endif %}</p>
                    <p>{{ message.get_types_display }}</p></p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- {{form}} -->
                        <input type="text" value={{message.pk}} name="pk" hidden>
                        {% with message.is_done as is_done %}
                
                        <p>
                        <div>
                            {% if message.important %}
                            <span class="badge text-bg-warning">ВАЖНО!</span>
                            {% else %}
                            <span class="badge text-bg-info">Не важно...</span>
                            {% endif %}
                        </div>
                        </p>
                        <p>
                        <div>
                            {% if is_done %}
                            <button type="submit" class="btn btn-danger">
                                Не сделано
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-success">
                                Сделано
                            </button>
                            {% endif %}
                        </div>
                        </p>
                        <p>                       
                            <div>
                                <a href="delete/{{message.pk}}/" class="btn btn-danger">
                                    УДАЛИТЬ
                                </a>

                            </div>
                        </p>
                        {% endwith %}
                        <a href="edit/{{message.pk}}/" class="btn btn-secondary">Редактировать</a>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="create_tasks/"><button type="button" class="btn btn-primary">Добавить новое задание</button></a>
{% endblock %}